fastapi
uvicorn
requests
langchain
langchain-core
langchain-text-splitters
langchain-ai21
python-dotenv
pydantic
pytest
requests-mock
fastapi[test]
bs4
clang
langchain-community
langchain-openai
faiss-cpu
javalang
esprima
openai
rank-bm25
networkx
scikit-learn
anthropic
sentence-transformers
tiktoken
psycopg2-binary
tree-sitter-language-pack
supabase
