/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
html, body, #root, .graph-container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.graph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#graph {
  width: 100%;
  height: calc(100vh - 100px); /* Adjust the height as needed */
}



  